.menu{
    border: solid 5px black;
    background-color: $bg;
    color: $color-menu;
    font-family: $font-menu;
    position: relative;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    li{
        padding:2px 100px;
    }
    a{
        color: white;
        text-decoration: none;
        size: 30px;
    }
}
