$bg: rgb(136, 136, 136);
$primary-color: blue;
$secondary-color: red;
$color-menu:white;
$form-shadow: #ffa580;
$font-menu: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-form:'Arial', Courier, monospace;
$font-body:'Arial', Courier, monospace;

